name: Deploy Opportune

on:
    push:
        branches: ["main"]
        paths:
            - "**"

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "18.x"
            - name: Install Dependencies
              run: npm install --legacy-peer-deps
            - name: Build Opportune app
              run: npm run build
            - name: Deploy to VPS via SSH
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USERNAME }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  port: ${{ secrets.VPS_PORT }}
                  script: |
                      cd ${{ secrets.VPS_PATH_PROJECT }}
                      git pull origin main
                      npm install
                      npm run build
                      pm2 restart opportune || pm2 start npm --name "opportune" -- start
